body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f0e9;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('https://www.transparenttextures.com/patterns/connected.png');
  }
  .header {
    width: 100%;
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    /* background-image: url('../../public/fundo.png'); */
    /* background-repeat: repeat; */
  }
  
  .login-box {
    background-color: #4aa382;
    border-radius: 12px;
    padding: 40px 40px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  label {
    display: block;
    text-align: left;
    color: white;
    margin-top: 10px;
    font-size: 14px;
  }
  
  input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  button {
    width: 50%;
    padding: 10px;
    margin:auto;
    background-color: #ffffff;
    color: #4aa382;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  
  .cadastro {
    margin-top: 15px;
    font-size: 13px;
    color: white;
    cursor: pointer;
  }

  .esqueciSenha {
    margin-top: 15px;
    font-size: 13px;
    color: white;
    cursor: pointer;
  }
  .mensagem {
    margin-top: 10px;
    color: white;
    font-weight: bold;
  }
  