.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .register-form {
    background-color:#4aa382;
    padding: 10px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .register-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s;
  }
  
  .register-form input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .input-row {
    display: flex;
    gap: 10px;
  }
  
  .input-row input {
    flex: 1;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
  }
  
  .button-row button {
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-row button:hover {
    background-color: #0056b3;
  }
  
  button[type='button'] {
    background-color: #6c757d;
  }
  
  button[type='button']:hover {
    background-color: #5a6268;
  }
  
  .error-message {
    color: #000000;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
